@charset "UTF-8";

.unit{
    margin-bottom: 1rem;
}

.comment-form textarea{
    flex-grow: 1;
}

@media screen and (max-width: 700px) {
    .comment-form {
        height: 2.5rem;
        --corner-radius: 1.25rem;
    }

    .comment-form textarea{
        font-size: 1.0rem;
        padding: .25rem;
        height: 1.5rem;
    }

    .comment-form button{
        width: auto !important;
        height: 1.5rem;
        font-size: .6rem;
        line-height: .6rem;
        padding: .1rem .8rem !important;
        --corner-radius: .75rem;
    }

    .comment-form span{
        font-size: 1.0rem;
    }

    
}